# Extra examples

Yeah, I can't think of any names.

In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from samplics.categorical import CrossTabulation

gss_saf = pd.read_csv("data/safiya_clean.csv")
gss_theo = pd.read_csv("data/theo_clean.csv")

## Additional cross tabs

In [32]:

tab_imm_race = CrossTabulation("proportion")
tab_imm_race.tabulate(
    vars=gss_saf[["immigration_cat", "sex_cat"]],
    samp_weight=gss_saf["wtssnrps"],
    # stratum=gss_saf["vstrat"],
    psu=gss_saf["vpsu"],
    remove_nan=True
)

tab_imm_race.to_dataframe()

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 3 is different from 4)

In [2]:
gss_saf

       year   age      income  ...  vpsu vstrat  wtssnrps
0      2010  31.0   66239.250  ...     1   2240  1.083753
1      2010  23.0   13047.125  ...     1   2240  0.456877
2      2010  71.0   17061.625  ...     2   2240  0.462404
3      2010  82.0    7226.100  ...     2   2240  0.557622
4      2010  78.0         NaN  ...     1   2241  1.286242
...     ...   ...         ...  ...   ...    ...       ...
15798  2021  21.0    6048.000  ...  1502   2655  3.585827
15799  2021  29.0   80640.000  ...  4056   2657  0.833348
15800  2021   NaN  168736.297  ...  1705   2659  1.042119
15801  2021  68.0    1344.000  ...  3192   2652  0.637692
15802  2021  48.0  107520.000  ...  1710   2656  1.796176

[15803 rows x 14 columns]

In [30]:
gss_theo = pd.read_csv("data/theo_clean.csv")

gss_theo.astype({"sex": "category", "race": "category", "region": "category", "ethnic": "category"})
gss_theo

          coninc             coninc_bins       income  ...   wtssall vstrat  vpsu
0      66239.250  (44930.116, 89524.232]         <$8K  ...  0.437745   2106     1
1      13047.125    (157.623, 44930.116]        $15K+  ...  0.437745   2106     1
2      17061.625    (157.623, 44930.116]        $15K+  ...  2.135340   2106     1
3       7226.100    (157.623, 44930.116]        $15K+  ...  1.313234   2106     1
4            NaN                     NaN        $15K+  ...  0.437745   2106     2
...          ...                     ...          ...  ...       ...    ...   ...
17821        NaN                     NaN  $8K to $15K  ...       NaN   2655  1502
17822        NaN                     NaN        $15K+  ...       NaN   2657  4056
17823        NaN                     NaN          NaN  ...       NaN   2659  1705
17824        NaN                     NaN         <$8K  ...       NaN   2652  3192
17825        NaN                     NaN        $15K+  ...       NaN   2656  1710

[17826 rows x 11 columns]

## Plots